
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=${VITE_API_URL}
    container_name: vuejs-app
    restart: unless-stopped
    ports:
      - "5173:5173"
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=${VITE_API_URL}
    networks:
      - app-network

networks:
  app-network:
    external: true